
<div class="container">
<h1>All Cocktails</h1>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-secondary" %>
  <br>
  <br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <%= image_tag cocktail.img_url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title" style="height: 50px;"> <%= cocktail.name%></h5>
          <%=link_to "See Details", cocktail_path(cocktail),  class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
